name: Android Build (Debug)

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: false
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23.x"
          cache-dependency-path: core/go.sum

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: "17"
          cache: gradle

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: "3.35.7"
          cache: true

      - name: Get Flutter Dependencies
        run: |
          flutter --version
          flutter pub get

      - name: Go Mod Tidy
        run: |
          cd core
          go mod tidy

      - name: Setup FlClash Core
        run: dart setup.dart android --out core

      - name: Build APK (Debug)
        run: flutter build apk --debug --target-platform android-arm,android-arm64 --split-per-abi

      - name: Upload APK (ARM64)
        uses: actions/upload-artifact@v4
        with:
          name: FlClash-arm64-v8a-debug
          path: build/app/outputs/flutter-apk/app-arm64-v8a-debug.apk

      - name: Upload APK (ARMv7)
        uses: actions/upload-artifact@v4
        with:
          name: FlClash-armeabi-v7a-debug
          path: build/app/outputs/flutter-apk/app-armeabi-v7a-debug.apk
